<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.DbAccessPlugin</class>
    <name>DB Access</name>
    <description>Provides administrators with a simple direct access interface to their Openfire DB.</description>
    <author>Daniel Henninger</author>
    <version>1.0.0</version>
    <date>8/27/2008</date>
    <minServerVersion>3.0.0</minServerVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-manager">
                <item id="db-access" name="DB Access"
                    url="db-access.jsp"
                    description="Direct database manipulation tool." />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
