<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.externalservicediscovery.ExternalServiceDiscoveryPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>tbc.</date>
    <minServerVersion>4.2.0</minServerVersion>

    <databaseKey>externalservicediscovery</databaseKey>
    <databaseVersion>1</databaseVersion>

    <adminconsole>
        <tab id="sidebar-media-services">
            <item id="external-service-discovery-config" name="${sidebar.external-service-discovery}"
                  url="external-service-discovery-config.jsp"
                  description="${sidebar.external-service-discovery.descr}"/>
        </tab>
    </adminconsole>
</plugin>
