# Root level stuff
.git
.gitignore
Dockerfile
.github
.idea
.mvn
.settings
.vscode

build
!build/docker
documentation

# Any intermediate build stuff.
**/target

# Deeper stuff
**/.DS_Store
**/.classpath
**/.factorypath
**/.idea
**/.project
**/.settings
**/*.iml
**/*.class
