<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <!-- Main plugin class -->
    <class>org.jivesoftware.openfire.plugin.ClientControlPlugin</class>
    
    <!-- Plugin meta-data -->
    <name>Client Control</name>
    <description>Controls clients allowed to connect and available features</description>
    <author>Jive Software</author>
    <version>1.1.0</version>
    <date>12/1/2009</date>
    <minServerVersion>3.7.0</minServerVersion>
    <databaseKey>clientcontrol</databaseKey>
    <databaseVersion>0</databaseVersion>

    <!-- UI extension -->
    <adminconsole>		
        <tab id="tab-server">
            <sidebar id="client" name="${admin.sidebar.client.name}" description="${admin.sidebar.client.description}">
                <item id="client-features" name="${admin.item.client-features.name}"
                      url="client-features.jsp"
                      description="${admin.item.client-features.description}"/>
                <item id="client-version" name="${admin.item.client-version.name}"
                      url="permitted-clients.jsp"
                      description="${admin.item.client-version.description}"/>
                <item id="groupchat-bookmarks" name="${admin.item.groupchat-bookmarks.name}"
                      url="groupchat-bookmarks.jsp"
                      description="${admin.item.groupchat-bookmarks.description}"/>
                <item id="url-bookmarks" name="${admin.item.url-bookmarks.name}"
                      url="url-bookmarks.jsp"
                      description="${admin.item.url-bookmarks.description}"/>
                <item id="spark-version" name="${admin.item.spark-version.name}"
                      url="spark-form.jsp"
                      description="${admin.item.spark-version.description}"/>
                <item id="spark-download" name="${admin.item.spark-download.name}"
                      url="spark-download.jsp"
                      description="${admin.item.spark-download.description}"/>
            </sidebar>
        </tab>
    </adminconsole>
    
</plugin>
