<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.jivesoftware.openfire.ClusteringPlugin</class>
    <name>${plugin.name}</name>
    <description>${plugin.description}</description>
    <author>Jive Software</author>
    <version>1.2.1</version>
    <date>12/17/2011</date>
    <minServerVersion>3.7.2</minServerVersion>
	
</plugin>
