<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.jivesoftware.openfire.ClusteringPlugin</class>
    <name>${plugin.name}</name>
    <description>${plugin.description}</description>
    <author>Jive Software</author>
    <version>1.2.0</version>
    <date>11/2/2009</date>
    <minServerVersion>3.5.2</minServerVersion>
	
</plugin>
