<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.jivesoftware.openfire.ClusteringPlugin</class>
    <name>${plugin.name}</name>
    <description>${plugin.description}</description>
    <author>Jive Software</author>
    <version>1.3.0</version>
    <date>09/13/2013</date>
    <minServerVersion>3.9.0</minServerVersion>
</plugin>
