<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.NonSaslAuthenticationPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>tbc.</date>
    <minServerVersion>4.1.0 Alpha</minServerVersion>
</plugin>
