<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.NonSaslAuthenticationPlugin</class>
    <name>Non-SASL Authentication</name>
    <description>This plugin implements a the (obsolete!) XEP-0078 specification for authentication using the jabber:iq:auth namespace.</description>
    <author>Guus der Kinderen</author>
    <version>1.0.0</version>
    <date>3/3/2016</date>
    <minServerVersion>4.1.0 Alpha</minServerVersion>
</plugin>
