<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the broadcast plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.UserCreationPlugin</class>
    <name>User Creation</name>
    <description>Creates users and populates rosters.</description>
    <author>Jive Software</author>
    <version>1.3.0</version>
    <date>10/12/2015</date>
    <url>http://www.igniterealtime.org</url>
    <minServerVersion>4.0.0</minServerVersion>

    <adminconsole>
        <tab id="tab-users">
            <sidebar id="sidebar-users">
                <item id="users-creation" name="Users Creation"
                    url="users-creation.jsp"
                    description="Quickly create users and populate their rosters" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
