<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the broadcast plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.UserCreationPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Jive Software</author>
    <version>${project.version}</version>
    <date>tbc.</date>
    <url>http://www.igniterealtime.org</url>
    <minServerVersion>4.3.0</minServerVersion>

    <adminconsole>
        <tab id="tab-users">
            <sidebar id="sidebar-users">
                <item id="users-creation" name="Users Creation"
                      url="users-creation.jsp"
                      description="Quickly create users and populate their rosters"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
