<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <author>igniterealtime.org</author>
    <class>org.ifsoft.nodejs.openfire.PluginImpl</class>
    <name>NodeJs</name>
    <description>Integrates NodeJs Applications with Openfire.</description>
    <licenseType>Apache 2.0</licenseType>
    <version>0.1.0</version>
    <date>10/12/2015</date>
    <minServerVersion>4.0.0</minServerVersion>

   <adminconsole>
        <tab id="tab-server">
            <sidebar id="siderbar-nodejs"
                     name="${plugin.title}">
                <item id="nodejs-settings"
                      name="${plugin.title}"
                      description="${plugin.title.description}"
                      url="nodejs.jsp"/>
            </sidebar>
        </tab>
    </adminconsole> 
</plugin>
