<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <author>igniterealtime.org</author>
    <class>org.ifsoft.nodejs.openfire.PluginImpl</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <licenseType>Apache 2.0</licenseType>
    <version>${project.version}</version>
    <date>tbc.</date>
    <minServerVersion>4.0.0</minServerVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="siderbar-nodejs"
                     name="${plugin.title}">
                <item id="nodejs-settings"
                      name="${plugin.title}"
                      description="${plugin.title.description}"
                      url="nodejs.jsp"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
