<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.fastpath.FastpathPlugin</class>
    <name>Fastpath Service</name>
    <description>Support for managed queued chat requests, such as a support team might use.</description>
    <author>Jive Software</author>
    <version>4.2.0</version>
    <date>12/2/2009</date>
    <minServerVersion>3.6.5</minServerVersion>
    <databaseKey>fastpath</databaseKey>
    <databaseVersion>0</databaseVersion>
	
    <adminconsole>
        <tab id="workgroup-tab" name="Fastpath"
                url="workgroup-summary.jsp"
                description="Click to manage FastPath.">
               <sidebar id="workgroup-sidebar" name="Workgroups Manager">
                   <item id="workgroup-summary" name="View Workgroups"
                         url="workgroup-summary.jsp"
                         description="Click to view all Workgroups"/>
                   <item id="workgroup-settings" name="Manage Settings"
                         url="workgroup-settings.jsp"
                         description="Click to configure global settings"/>
                   <item id="workgroup-create" name="Create Workgroup"
                         url="workgroup-create.jsp"
                         description="Click to create a Workgroup">
                       <sidebar id="workgroup-setting-options" name="Workgroup Settings">
                           <item id="workgroup-queues" name="Manage Queues"
                                 url="workgroup-queues.jsp"
                                 description="Click to edit workgroup Queue(s)"/>
                           <item id="workgroup-macros" name="Canned Responses"
                                 url="workgroup-macros.jsp"
                                 description="Click to edit the Workgroup Canned Responses"/>
                           <item id="workgroup-monitors" name="Room Monitors"
                                 url="workgroup-monitors.jsp"
                                 description="Click to Manage Room Monitors"/>
                           <item id="workgroup-offline" name="Offline Settings"
                                 url="workgroup-offline.jsp"
                                 description="Click to edit Offline instructions"/>
                           <item id="workgroup-transcript-config" name="Transcripts"
                                 url="workgroup-transcript-config.jsp"
                                 description="Click to edit Transcript settings"/>
                           <item id="workgroup-forms" name="Form UI"
                                 url="forms/workgroup-dataform.jsp"
                                 description="Click to create or edit the Form used for this workgroup"/>
                           <item id="workgroup-variables" name="Form Variables"
                                 url="workgroup-variables.jsp"
                                 description="Click to create or edit the Variables to retrieve for this workgroup"/>
                           <item id="workgroup-image-settings"
                                 name="Images"
                                 url="workgroup-image-settings.jsp"
                                 description="Click to customize Web Chat window"/>
                           <item id="workgroup-text-settings"
                                 name="Text"
                                 url="workgroup-text-settings.jsp"
                                 description="Click to customize Web Chat window"/>
                           <item id="workgroup-properties" name="Settings"
                                 url="workgroup-properties.jsp"
                                 description="Click to view workgroup properties"/>
                       </sidebar>
                   </item>
               </sidebar>
               <sidebar id="reporting-sidebar" name="Reports">
                   <item id="chat-summary" name="View Previous Chats"
                         url="chat-summary.jsp"
                         description="Click to view Chat Transcripts">
                   </item>
                   <item id="usage-summary" name="View Chat Usage"
                         url="usage-summary.jsp"
                         description="Click to view Usage Summary"/>
               </sidebar>
        </tab>
    </adminconsole>
</plugin>
