<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.httpfileupload.HttpFileUploadPlugin</class>
    <name>HTTP File Upload</name>
    <description>Allows clients to share files, as described in the XEP-0363 'HTTP File Upload' specification.</description>
    <author>Guus der Kinderen</author>
    <version>1.1.0</version>
    <date>19/02/2018</date>
</plugin>
