<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.httpfileupload.HttpFileUploadPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>02/19/2018</date>
    <minServerVersion>4.1.0</minServerVersion>
</plugin>
