<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the broadcast plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.EmailListenerPlugin</class>
    <name>Email Listener</name>
    <description>Listen for emails and send alerts to specific users.</description>
    <author>Jive Software</author>
    <version>1.0</version>
    <date>12/25/2007</date>
    <url>http://www.igniterealtime.org</url>
    <minServerVersion>3.4.3</minServerVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="email-listener" name="Email Listener" url="email-listener.jsp"
                     description="Click to configure email listener" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>