<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the broadcast plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.EmailListenerPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Jive Software</author>
    <url>http://www.igniterealtime.org</url>
    <version>${project.version}</version>
    <date>tbc.</date>
    <minServerVersion>4.0.0</minServerVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="email-listener" name="Email Listener" url="email-listener.jsp"
                      description="Click to configure email listener"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
