<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.stun.STUNService</class>
    <name>STUN server plugin</name>
    <description>Adds STUN functionality to Openfire</description>
    <author>Ignite Realtime</author>
    <version>1.0.0</version>
    <date>February 26, 2012</date>
    <minServerVersion>3.5.0</minServerVersion>
    
    <adminconsole>
        <tab id="sidebar-media-services">
            <item id="stun-settings" name="${sidebar.stun}"
                  url="stun-settings.jsp"
                  description="${sidebar.stun.descr}"/>
        </tab>
    </adminconsole>
</plugin>
