<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.stun.STUNService</class>
    <name>STUN server plugin</name>
    <description>Adds STUN functionality to Openfire</description>
    <author>Ignite Realtime</author>
    <version>1.2.2</version>
    <date>05/11/2017</date>
    <minServerVersion>4.0.0</minServerVersion>
    
    <adminconsole>
        <tab id="sidebar-media-services">
            <item id="stun-settings" name="${sidebar.stun}"
                  url="stun-settings.jsp"
                  description="${sidebar.stun.descr}"/>
        </tab>
    </adminconsole>
</plugin>
