<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.stun.STUNService</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Ignite Realtime</author>
    <version>${project.version}</version>
    <date>tbc.</date>
    <minServerVersion>4.0.0</minServerVersion>

    <adminconsole>
        <tab id="sidebar-media-services">
            <item id="stun-settings" name="${sidebar.stun}"
                  url="stun-settings.jsp"
                  description="${sidebar.stun.descr}"/>
        </tab>
    </adminconsole>
</plugin>
