<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.ifsoft.jmxweb.plugin.JmxWebPlugin</class>
    <name>JmxWeb Plugin</name>
    <description>JmxWeb plugin is web based platform for managing and monitoring openfire via JMX.</description>
    <version>0.0.7</version>
    <licenseType>Apache 2.0</licenseType>    
    <date>09/30/2017</date>
    <minServerVersion>4.1.5</minServerVersion>
    <author>igniterealtime.org</author>   
</plugin>
