[submodule "libs/jquery-i18n"]
	path = libs/jquery-i18n
	url = git://github.com/recurser/jquery-i18n.git
[submodule "libs/strophejs"]
	path = libs/strophejs
	url = git://github.com/strophe/strophejs.git
[submodule "libs/strophejs-plugins"]
	path = libs/strophejs-plugins
	url = git://github.com/strophe/strophejs-plugins.git
[submodule "libs/mustache.js"]
	path = libs/mustache.js
	url = git://github.com/janl/mustache.js.git
