<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the sessions debugger plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.DebuggerPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Jive Software</author>
    <version>${project.version}</version>
    <date>07/11/2018</date>
    <minServerVersion>4.0.0</minServerVersion>
    <minJavaVersion>1.7</minJavaVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="debugger-conf"
                      name="Debugger Properties"
                      url="debugger-conf.jsp"
                      description="Edit debugger plugin properties"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
