<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the sessions debugger plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.DebuggerPlugin</class>
    <name>Debugger Plugin</name>
    <description>Prints XML traffic to the stdout (raw and interpreted XML)</description>
    <author>Jive Software</author>
    <version>1.7.0</version>
    <date>03/06/2017</date>
    <minServerVersion>4.0.0</minServerVersion>

   <adminconsole>
      <tab id="tab-server">
         <sidebar id="sidebar-server-settings">
            <item id="debugger-conf"
                  name="Debugger Properties"
                  url="debugger-conf.jsp"
                  description="Edit debugger plugin properties" />
         </sidebar>
      </tab>
   </adminconsole>
</plugin>
