BODY {
    font-size : 100%;
}
BODY, TD, TH {
    font-family : arial, helvetica, sans-serif;
    font-size : 10pt;
}
A {
    color : #00f;
}
A:visited {
    color : #00f;
}
A:hover {
    color : #f00;
    text-decoration : none;
}
PRE, TT {
    font-size : 10pt;
    font-family : courier new, monospaced;
}

/* errors */
.jive-error-text {
    color : #f00;
}

/* success */
.jive-success-text {
    color : #090;
}

/* tabs */
.jive-selected-tab {
    border-width : 1px 1px 0px 1px;
    background-color : #fff;
}
.jive-tab {
    border-width : 1px 1px 1px 1px;
}
.jive-tab-spacer, .jive-tab-spring {
    border-width : 0px 0px 1px 0px;
}
.jive-tab-bar {
    background-color : #fff;
    border-width : 0px 1px 1px 1px;
}
.jive-selected-tab, .jive-tab, .jive-tab-spacer, .jive-tab-spring, .jive-tab-bar
{
    border-color : #95B2CB;
    border-style : solid;
}
/* tab colors, spacings, fonts */
.jive-tab, .jive-selected-tab {
    padding : 4px 10px 4px 10px;
    font-family : tahoma;
    font-size : 8pt;
}
.jive-selected-tab A {
    color : #000 !important;
    text-decoration : none;
    font-weight : bold;
}
.jive-tab A {
    color : #333 !important;
    text-decoration : none;
    font-weight : bold;
}
.jive-tab A:hover, .jive-selected-tab A:hover {
    text-decoration : underline;
}
.jive-tab {
    background-color : #ddd;
}
.jive-tab-bar TD {
    font-family : tahoma;
    font-weight : bold;
}
.jive-tab-bar A {
    color : #000;
    text-decoration : none;
}
.jive-tab-bar A:hover {
    text-decoration : underline;
}
.jive-tab-section TD {
    font-weight : normal;
    font-family : verdana;
    font-size : 8pt;
}
.jive-tab-section A {
    color : #333 !important;
    padding-right : 6px;
    font-weight : normal;
}
.jive-tab-spring {
    font-size : 8pt;
}
.jive-tab-logout {
    font-size : 8pt;
}

/* sidebar */
.jive-admin-sidebar-header {
    font-weight : bold;
}

/* page titles */
.jive-admin-page-title TD {
    font-family : tahoma, arial, helvetica, sans-serif;
    font-size : 12;
    font-weight : bold;
}
.jive-admin-page-title TABLE {
    margin-top : 5px;
    border-bottom : 1px #95B2CB solid;
}

/* tables */
.jive-table {
    border-color : #bbb;
    border-style : solid;
    border-width : 1px 1px 0px 1px;
}
.jive-table TABLE {
    width : 100%;
}
.jive-table TH, .jive-table TD {
    padding : 3px;
}
.jive-table TH {
    background-color : #eee;
    border-bottom : 1px #bbb solid;
    text-align : left;
    font-family : verdana;
    font-size : 8pt;
    font-weight : bold;
}
.jive-table TR TD {
    border-bottom : 1px #ccc solid;
}
.jive-table TD {
    font-family : arial, helvetica, sans-serif;
    font-size : 10pt;
}
.jive-table .jive-odd TD {
    background-color : #fff;
}
.jive-table .jive-even TD {
    background-color : #eee;
}
.jive-table TFOOT TD {
    background-color : #ddd;
    font-family : verdana;
    font-size : 8pt;
}
.jive-table TD TD {
    border-width : 0px;
}
.jive-table INPUT, .jive-table SELECT {
    font-family : verdana;
    font-size : 8pt;
}

.jive-description {
    font-family : verdana;
    font-size : 8pt;
}

.jive-label {
    background-color : #f8f8f8;
    padding-right : 10px;
    width : 1%;
    white-space : nowrap;
}

.jive-even {
    background-color : #f8f8f8;
    width : 1%;
    white-space : nowrap;
}

.jive-odd {
    background-color : #ffffff;
    width : 1%;
    white-space : nowrap;
}

/* breadcrumbs */
.jive-breadcrumbs {
    font-size : 8pt;
    font-weight : bold;
    font-family : tahoma;
}
.jive-breadcrumbs A {
    color : #000 !important;
    text-decoration : none;
}
.jive-breadcrumbs A:hover {
    text-decoration : underline;
}

/* sidebar */
.sidebar-group TH {
    padding-left : 10px;
    font-weight : bold;
    text-align : left;
}
.sidebar-group .bullet {
    padding-left : 10px;
    text-align : right;
    vertical-align : top;
    width : 1%;
}

/* paginators */
.jive-current {
    background-color : #eee;
    color : #000 !important;
    padding : 1px 2px 1px 2px;
    font-weight : bold;
    text-decoration : none;
    border : 1px #ccc solid;
}

/* styles for on/off services */
.jive-on {
    border : 1px #333 solid;
    background-color : #093;
    color : #fff;
    font-weight : bold;
    text-align : center;
    padding : 3px;
}
.jive-off {
    border : 1px #333 solid;
    background-color : #930;
    color : #fff;
    font-weight : bold;
    text-align : center;
    padding : 3px;
}

<%-- styles for the calendar popup on the poll page --%>
TABLE.calBgColor {
    padding : 0px;
}
td.cal {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #000000;
    background-color : #fff;
    padding : 0px;
}
select.month {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #000000;
    background: transparent;
    width : 85px;
}
input.year {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #000000;
    background: transparent;
    width : 30px;
}
td.calDaysColor {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #000000;
}
td.calWeekend {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #d3d3d3;
}
td.calBgColor {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #ffc;
}
.calBorderColor {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #a9a9a9;
}
td.calHighlightColor {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #ffffcc;
}
A.cal {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #000000;
    background: transparent;
    text-decoration : none;
}
A.cal:Hover {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #FF0000;
    background: transparent;
    text-decoration : none;
}
.calDisabled {
  font-family : Arial,Helvetica,Sans-serif;
  font-size : 11px;
  color : #808080;
  background: transparent;
  text-decoration : none;
}

TABLE.box {
	BORDER: #cccccc 1px solid;
}
TABLE.boxLayout {
	BORDER-RIGHT: #003399 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #003399 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #003399 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #003399 1px solid
}
TABLE.boxLayoutGrey {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP:#cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid
}

.text {font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 6; padding:8px; color: #000000;}


.strongLink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: helvetica,arial,sans-serif,verdana; TEXT-DECORATION: none
}
.strongLinkLarge {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: helvetica,arial,sans-serif,verdana; TEXT-DECORATION: none
}
.tableHeader {
	FONT-WEIGHT: bold; BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
.tableHeaderBlue {
	FONT-WEIGHT: bold; background-image: url("/images/admin-back.gif"); COLOR:black; BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #999999 1px solid;
}  
.textStrong {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 16px; FONT-FAMILY: helvetica,arial,sans-serif,verdana; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 16px; FONT-FAMILY: helvetica,arial,sans-serif,verdana; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
.content {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #666666}
.nicetext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #666666}
.nicetextsmall {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666}
.subhead { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #000066}
.subtitle{ 
		font-size: 14px;   
		color: #336699; 
		margin-bottom:10px;
		font-weight:bold;
}
.highlight {
	color: #990000;
}

/* page titles */
.jive-admin-page-title TABLE {
    margin-top : 5px;
    border-bottom : 1px #ccc solid;
}
.jive-admin-page-title TD {
    font-family : tahoma, arial, helvetica, sans-serif;
    font-size : 9pt;
    font-weight : bold;
}

