
body {
	margin: 0px;
	padding: 0px;
	background: #fff url("../images/setup_sidebar_bg.gif") repeat-y;
	font-family: arial, helvetica, sans-serif;
	}
body, div, p, td, th {
	font-size: 10pt;
	}
form {
	margin: 0px;
	padding: 0px;
	}


/* --------------------------------------------- */
/*  Header                                       */
/* --------------------------------------------- */

#jive-header {
	width: 100%;
	height: 82px;
	border: 0px;
	background: #fff url("../images/setup_header_bg.gif") repeat-x;
	min-width: 720px;
	}
#jive-logo {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 50px;
	background: url("../images/setup_header_logo.gif") no-repeat;
	overflow: hidden;
	}
#jive-header-text {
	display: block;
	position: absolute;
	left: 158px;
	top: 24px;
	color: #fff;
	font-size: 20px;
	}


/* --------------------------------------------- */
/*  Sidebar                                      */
/* --------------------------------------------- */

#jive-header #sidebar-top {
	display: block;
	position: absolute;
	width: 192px;
	height: 9px;
	left: 0px;
	top: 73px;
	background: url("../images/setup_sidebar_bg-top.gif") no-repeat;
	overflow: hidden;
	}
#jive-sidebar {
	width: 192px;
	margin: 0px;
	padding: 0px;
	float: left;
	}
.jive-sidebar-group {
	display: block;
	position: relative;
	width: 161px;
	margin: 0px 0px 16px 13px;
	padding: 0px 0px 8px 0px;
	background-color: #cad6e2;
	-moz-border-radius: 3px;
	}
.jive-sidebar-group strong {
	display: block;
	color: #143350;
	padding: 7px 9px 2px 9px;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	}
.jive-sidebar-group img {
	display: block;
	border: 1px solid #9e9e9e;
	margin: 3px 0px 3px 9px;
	}
.jive-sidebar-group ul {
	margin: 0px; /*removes indent IE and Opera*/
	margin-left: 9px;
	padding: 0px 0px 0px 0px; /*removes indent Mozilla and NN7*/
	list-style-type: none; /*turns off display of bullet*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 143px;
	}
.jive-sidebar-group ul li {
	margin: 1px 0px 2px 0px;
	padding: 2px 0px 2px 15px;
	color: #474747;
	}
.jive-sidebar-group ul li.jiveCurrent {
	border: 1px solid #34679A;
	background-color: #5C7D9D;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 3px;
	}
.jive-sidebar-group ul li.jiveComplete {
	color: #003366;
	background: transparent url(../images/setup_sidebar_check.gif) no-repeat left;
	}




/* --------------------------------------------- */
/*  Body                                         */
/* --------------------------------------------- */

#jive-body {
	display: block;
	position: absolute;
	left: 192px;
	padding: 17px 28px 15px 28px;
	}
#jive-body h1 {
	font-size: 13pt;
	margin: 0px;
	padding: 0px 0px 14px 0px;
	}
#jive-body p {
	margin: 0px;
	padding: 0px 0px 14px 0px;
	}
#jive-body tt {
	font-size: 8pt;
	font-weight: bold;
	}
.jive-contentBox {
	display: block;
	margin: 5px 0px 20px 0px;
	padding: 18px 20px 18px 20px;
	border: 1px solid #dcdcdc;
	background: #f5f5f5 url(../images/setup_contentbox_bg.gif) repeat-x top;
	-moz-border-radius: 4px;
	}
.jive-contentBox h2 {	
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-size: 11pt;
	color: #09345b;
	}
#jive-setup-language {
	padding: 0px 0px 10px 18px;
	}
#jive-setup-language p {
	line-height: 180%;
	}
.jive-contentBox input#jive-setup-save {
	padding: 2px 5px 2px 5px;
	margin: 0px;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	background: #d6892c url(../images/setup_btn_bg-orange.gif) repeat-x;
	}
.jive-contentBox input#jive-setup-skip {
	padding: 2px 5px 2px 5px;
	margin: 0px 10px 0px 0px;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #7c7c7c;
	background: #8c8c8c url(../images/setup_btn_bg-grey.gif) repeat-x;
	}
.jive-description {
	font-size: 11px;
	}
.jive-error-text {
	color : #f00;
	}
.jive_setup_launchAdmin a,
.jive_setup_launchAdmin a:visited {
	position: relative;
	padding: 6px 9px 6px 9px;
	margin: 20px 0px 0px 0px;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	border: 1px solid #0c2d4c;
	background: #255480 url(../images/setup_btn_bg-bigblue.gif) repeat-x;
	text-decoration: none;
	-moz-border-radius: 4px;
	}


/* --------------------------------------------- */
/*  Footer                                       */
/* --------------------------------------------- */

/* not relevant here, so hiding it. */
#jive-footer {
	display: none;
	visibility: hidden;
	}