
BODY {
    font-size : 100%;
}
BODY, TH, TD {
    font-family : tahoma, arial, helvetica, sans-serif;
    font-size : 0.8em;
}
PRE, TT {
    font-size : 100%;
    font-family : courier new, monospaced;
}
LABEL {
    font-weight : bold;
}
A {}
A:link {
    color : #039;
}
A:visited {
    color : #039;
}
A:hover {
    color : #f00;
    text-decoration : none;
}
A:active {
    color : #9cf;
}

.jive-setup-header TABLE {
    border : 1px #333 solid;
}
.jive-setup-header TD {
    font-family : arial, helvetica, sans-serif;
    font-size : 1.3em;
    color : #ffffff;
    background-color : #369;
}
.jive-setup-footer {
    text-align : center;
}
.jive-setup-page-header {
    font-size : 1.2em;
    font-weight : bold;
}
.jive-setup-page-subheader {
    font-weight : bold;
}
.jive-setup-error-text {
    color : #f00;
}
.jive-setup-sidebar {
    border : 1px #ccc solid;
    background-color : #eee;
}
.jive-setup-header .jive-info {
    color : #333;
    font-size : 0.8em;
    font-family : arial, helvetica, sans-serif;
    font-weight : bold;
}
.jive-setup-category-header {
    font-weight : bold;
    background-color : #eee;
    border-bottom : 1px #ccc solid;
    border-right : 1px #ccc solid;
}
.jive-setup-category .jive-info {
    font-size : 0.8em;
}
.jive-setup-category {
    padding-left : 20px;
}
.jive-setup-checklist-box {
    border-width : 0px 1px 1px 0px;
    border-color : #ccc;
    border-style : solid;
    padding-left : 1em;
    padding-right : 1em;
}
.jive-error-text {
    color : #f00;
}
.jive-label {
    padding-right : 10px;
    padding-top : 6px;
}
.jive-description {
    font-family : verdana;
    font-size : 0.8em;
}
.jive-custom-datasource .jive-label {
    font-size : 0.8em;
    font-family : verdana;
}