<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.MUCServicePlugin</class>
    <name>MUC Service</name>
    <description>MUC administration over REST Interface</description>
    <author>Roman Soldatow</author>
	<version>0.2.2</version>
    <date>09.17.2014</date>
    <minServerVersion>3.9.1</minServerVersion>
</plugin>
