<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>com.tempstop.emailOnAway</class>

    <name>Email on Away</name>
    <description>Messages sent to alternate location when recipient is away</description>
    <author>Nick Mossie</author>
    <version>1.0.3</version>
    <date>04/10/2016</date>
    <minServerVersion>2.3.0</minServerVersion>

</plugin>
