<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.StompPlugin</class>
    <name>Stomp Plugin</name>
    <description>Simple (or Streaming) Text Oriented Message Protocol (STOMP)</description>
    <author>Ignite Realtime Community</author>
    <version>0.0.1</version>
    <date>09/20/2014</date>
    <minServerVersion>3.10.0</minServerVersion>
</plugin>
