<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.jivesoftware.openfire.plugin.gojara.base.RemoteRosterPlugin</class>


    <name>GoJara</name>
    <description>ProtoXEP-xxxx: Remote Roster Management support</description>
    <author>Holger Bergunde and Daniel Henninger</author>
    <version>1.1.0 Alpha</version>
    <date>01/06/2012</date>
	<databaseKey>gojara</databaseKey>
    <databaseVersion>0</databaseVersion>
    <minServerVersion>3.7.0</minServerVersion>

    <!-- Admin console entries -->

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="remoteRoster" name="${rr.summary.title}"
                    url="rr-main.jsp"
                    description="${rr.summary.title}" />
            </sidebar>
         </tab>
    </adminconsole>
</plugin>