<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.jivesoftware.openfire.plugin.PacketFilterPlugin</class>


    <name>Packet Filter</name>
    <description>Rules to enforce ethical communication</description>
    <author>Nate Putnam</author>
    <version>2.0.1</version>
    <date>12/8/2007</date>
    <minServerVersion>3.5.0</minServerVersion>
    <databaseKey>packetfilter</databaseKey>
    <databaseVersion>1</databaseVersion>

    <!-- Admin console entries -->

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="packetFilter" name="${pf.summary.title}"
                    url="pf-main.jsp"
                    description="${pf.summary.title}" />
            </sidebar>
         </tab>
    </adminconsole>
</plugin>