<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.jivesoftware.openfire.plugin.ImportExportPlugin</class>

   <name>User Import Export</name>
   <description>Enables import and export of user data</description>
   <author>Ryan Graham</author>
   <version>2.2.0</version>
   <date>3/29/2007</date>
   <minServerVersion>3.3.0</minServerVersion>

   <adminconsole>
      <tab id="tab-users">
         <sidebar id="user-import-export" name="Import &amp; Export">
            <item id="import-export-selection" name="User Import &amp; Export"
                  url="import-export-selection.jsp"
                  description="Allows the importing and exporting of Openfire user data." />
         </sidebar>
      </tab>
   </adminconsole>
</plugin>
