<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the broadcast plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.BroadcastPlugin</class>
    <name>Broadcast</name>
    <description>Broadcasts messages to users.</description>
    <author>Jive Software</author>
    <version>1.7.0</version>
    <date>11/16/2007</date>
    <url>http://www.igniterealtime.org</url>
    <minServerVersion>3.4.1</minServerVersion>
</plugin>