<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.StatisticPlugin</class>
    <name>Load Statistic</name>
    <description>Logs load statistics to a file</description>
    <author>Jive Software</author>
    <version>1.1.0</version>
    <date>3/29/2007</date>
    <minServerVersion>3.3.0</minServerVersion>
</plugin>