BODY, DIV, P, TD, TH {
    font-family : arial, helvetica, sans-serif;
    font-size : 100%;
    font-size : 10pt;
}
BODY {
    margin : 0px;
    padding : 0px;
    background-color : #fff;
}
#jive-body {
    background-image : url("../images/page-background.gif");
    background-repeat : repeat-y;
}
P {
    margin-top : 0px;
}
FIELDSET DIV {
    margin : 10px;
    padding : 5px 3px 5px 0px;
    width : 100%;
}
FIELDSET DIV .jive-table {
    margin : 0px;
    padding : 0px;
}
FIELDSET {
    -moz-border-radius : 3px;
    border-style : solid;
    border-width : 1px;
    border-color : #ccc;
    width : 95%;
}
FIELDSET LEGEND {
    color : #000;
}

/* --------------------------------------------- */
/*  Header                                       */
/* --------------------------------------------- */

#jive-header {
    width : 100%;
    height : 62px;
    border : 0px;
    background-image : url("../images/header-background.gif");
    background-repeat : repeat-x;
    background-color : #369;
}
#jive-header .info {
    font-size : 8pt;
    color : #fff;
    padding-right : 2em;
    text-align : right;
}

#jive-content {
    padding : 1em;
}

/* --------------------------------------------- */
/*  Main tabs                                    */
/* --------------------------------------------- */

#jive-header #jive-tabs UL, #jive-header #jive-tabs LI {
    display : inline;
    padding : 3px;
    margin : 0px;
}
#jive-header #jive-tabs LI {
    font-family : verdana;
    font-size : 8pt;
    font-weight : bold;
}
#jive-header #jive-tabs LI A {
    color : #CEE1FA;
    text-decoration : none;
    padding : 3px 5px 3px 5px;
}
#jive-header #jive-tabs LI A:hover {
    color : #fff;
    text-decoration : underline;
}
#jive-header #jive-tabs .currentlink A {
    color : #fff;
    text-decoration : underline;
}

/* --------------------------------------------- */
/*  Logviewer tabs                               */
/* --------------------------------------------- */

#logviewer .jive-tabs TD {
    font-family : verdana;
    font-size : 8pt;
}
#logviewer .jive-tabs .jive-tab, .jive-tabs .jive-tab-active {
    border : 1px #ccc solid;
    white-space : nowrap;
    padding : 4px 1em 4px 1em;
    background-color : #ddd;
}
#logviewer .jive-tabs .jive-tab-active {
    border-bottom : 1px #fff solid;
    background-color : #fff;
}
#logviewer .jive-tabs .jive-spacer, .jive-tabs .jive-stretch {
    border-bottom : 1px #ccc solid;
}
#logviewer .jive-tabs .jive-tab A, #logviewer .jive-tabs .jive-tab-active A {
    text-decoration : none;
    font-weight : bold;
    color : #000;
}
#logviewer .jive-tabs .jive-tab A:hover, #logviewer .jive-tabs .jive-tab-active A:hover {
    text-decoration : underline;
}

/* --------------------------------------------- */
/*  Logout link                                  */
/* --------------------------------------------- */

#jive-header #jive-logout {
    white-space : nowrap;
}
#jive-header #jive-logout A {
    color : #CEE1FA;
    font-size : 8pt;
    font-family : verdana;
    font-weight : bold;
    text-decoration : none;
}
#jive-header #jive-logout A:hover {
    color : #fff;
    text-decoration : underline;
}

/* --------------------------------------------- */
/*  Titles                                       */
/* --------------------------------------------- */

#jive-main #jive-title {
    font-size : 12pt;
    font-weight : bold;
    padding-bottom : 1em;
}

/* --------------------------------------------- */
/*  Breadcrumbs                                  */
/* --------------------------------------------- */

#jive-main #jive-breadcrumbs {
    font-size : 8pt;
    /* font-weight : bold; */
    font-family : verdana;
    white-space : nowrap;
    padding-top : 2px;
}
#jive-main #jive-breadcrumbs A {
    color : #000;
    text-decoration : none;
}
#jive-main #jive-breadcrumbs A:hover {
    color : #000;
    text-decoration : underline;
}

/* --------------------------------------------- */
/*  Sidebar                                      */
/* --------------------------------------------- */

#jive-main #jive-sidebar {
    padding : 0px 5px 5px 5px;
}
#jive-main #jive-sidebar ul {
	margin: 0; /*removes indent IE and Opera*/
	padding: 0 0 0 0; /*removes indent Mozilla and NN7*/
	list-style-type: none; /*turns off display of bullet*/
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
#jive-main #jive-sidebar li {
	margin: 0 15px 2px 0px;
	width : 140px;
}
#jive-main #jive-sidebar a {
	/*/*/display: block;
	padding: 2px 2px 2px 10px;
	border: 1px solid #fff;
	width: 140px;
	-moz-border-radius : 3px;
	background-color: #fff; /* */
}
#jive-main #jive-sidebar a:link, #jive-main #jive-sidebar a:visited {
	color: #000;
	/*/*/color: #000;
	text-decoration: none; /* */
}
#jive-main #jive-sidebar a:hover {
    /*
	border: 1px solid #369;
    background-color : #CBDDEE;
	color: #333;
	*/
	border : 1px solid #963;
	background-color : #ffc;
}
#jive-main #jive-sidebar .currentlink a,
#jive-main #jive-sidebar .currentlink a:link,
#jive-main #jive-sidebar .currentlink a:visited,
#jive-main #jive-sidebar .currentlink a:hover
{
	/*/*/border: 1px solid #369;
	background-color: #CBDDEE;
	color: #333; /* */
}
#jive-main #jive-sidebar .category {
    padding-top : 1.5em;
    padding-bottom : 0.5em;
    font-weight : bold;
}
#jive-main #jive-sidebar .subitems LI {
    margin-left : 10px;
    width : 130px;
}
#jive-main #jive-sidebar .subitems LI A {
    margin-left : 10px;
    padding : 2px 2px 2px 5px;
    width : 120px;
}

/* --------------------------------------------- */
/*  Tasks                                        */
/* --------------------------------------------- */

#jive-runningtask {
    margin-left : 1em;
}


/* --------------------------------------------- */
/*  Older styles                                 */
/* --------------------------------------------- */

PRE, TT {
    font-size : 10pt;
    font-family : courier new, monospace;
}

/* Messages - errors, success and info */
.jive-error TABLE, .jive-info TABLE, .jive-success TABLE {
    border : 1px #ccc solid;
}
.jive-error TD, .jive-info TD, .jive-success TD {
    padding : 3px;
    vertical-align : top;
}
.jive-error-text, .jive-error .jive-icon-label, .jive-error-text A, .jive-error .jive-icon-label A {
    color : #f00;
}
.jive-success-text, .jive-success .jive-icon-label, .jive-success-text A, .jive-success .jive-icon-label A {
    color : #090;
}
.jive-info-text, .jive-info .jive-icon-label, .jive-info-text A, .jive-info .jive-icon-label A {
    color : #306;
}

/* tables */
.jive-table {
    border-color : #bbb;
    border-style : solid;
    border-width : 1px 1px 0px 1px;
}
.jive-table .c1, fieldset .c1 {
    width : 30%;
}
.jive-table TH, .jive-table TD {
    padding : 4px;
}
.jive-table TH {
    background-color : #eee;
    border-bottom : 1px #bbb solid;
    border-right : 1px #bbb solid;
    text-align : left;
    font-family : verdana;
    font-size : 8pt;
    font-weight : bold;
}
.jive-table TH TABLE TH {
    border-right : none;
    border-bottom : none;
}
.jive-table TH TABLE TH a {
    text-decoration : none;
    color: #000;
}
.jive-table TR TD {
    border-bottom : 1px #ccc solid;
}
.jive-table TD {
    font-family : arial, helvetica, sans-serif;
    font-size : 10pt;
}
.jive-table .jive-odd TD {
    background-color : #fff;
}
.jive-table .jive-even TD {
    background-color : #fbfbfb;
}
.jive-table TFOOT TD {
    background-color : #ddd;
    font-family : verdana;
    font-size : 8pt;
    border-right : 1px #bbb solid;
}
.jive-table TD TD {
    border-width : 0px;
}
.jive-table INPUT, .jive-table SELECT {
    font-family : verdana;
    font-size : 8pt;
}

.jive-description, .jive-description A, .jive-table .jive-date, .jive-description INPUT,
.jive-description SELECT
{
    font-family : verdana,arial,helvetica,sans-serif;
    font-size : 8pt;
}

.jive-label {
    background-color : #eee;
    padding-right : 10px;
    width : 1%;
    white-space : nowrap;
}

.jive-buttons .jive-icon {
    padding : 3px;
}
.jive-buttons .jive-icon-label {
    padding : 3px;
    white-space : nowrap;
    padding-right : 1em;
    font-size : 8pt;
    font-family : verdana, arial, helvetica, sans-serif;
}

/* --------------------------------------------- */
/*  Calendar styles                              */
/* --------------------------------------------- */

TABLE.calBgColor {
    padding : 0px;
}
td.cal {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #000000;
    background-color : #fff;
    padding : 0px;
}
select.month {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #000000;
    background: transparent;
    width : 85px;
}
input.year {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #000000;
    background: transparent;
    width : 30px;
}
td.calDaysColor {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #000000;
}
td.calWeekend {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #d3d3d3;
}
td.calBgColor {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #ffc;
}
.calBorderColor {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #a9a9a9;
}
td.calHighlightColor {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #ffffff;
    background-color : #ffffcc;
}
A.cal {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #000000;
    background: transparent;
    text-decoration : none;
}
A.cal:Hover {
    font-family : Arial,Helvetica,Sans-serif;
    font-size : 11px;
    color : #FF0000;
    background: transparent;
    text-decoration : none;
}
.calDisabled {
  font-family : Arial,Helvetica,Sans-serif;
  font-size : 11px;
  color : #808080;
  background: transparent;
  text-decoration : none;
}

/* --------------------------------------------- */
/*  Quote original styles                        */
/* --------------------------------------------- */

.jive-quoteheader {
    font-weight : bold;
    width : 90%;
    margin-left : 15px;
}
.jive-quote {
    border : #d1d7dc 1px solid;
    /* font-size : 11px; */
    color : #444;
    /* line-height : 125%; */
    /* font-family : Verdana, Arial, Helvetica, sans-serif; */
    background-color : #fafafa;
    width : 90%;
    margin-left : 15px;
}