<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jinglenodes.JingleNodesPlugin</class>
    <name>Jingle Nodes Plugin</name>
    <description>Provides support for Jingle Nodes. This version is a custom modified version of 1.1.1 with a more advanced admin page exposing more properties and the ability to work behind a firewall.</description>
    <author>Jingle Nodes (Rodrigo Martins)</author>
    <version>0.1.2</version>
    <date>04/22/2015</date>
    <minServerVersion>3.9.0</minServerVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="siderbar-jn" name="${admin.item.jn}">
                <item id="jingle-nodes" name="${admin.item.jn.settings.name}"
                      description="${admin.item.sipark.settings.description}" url="jingle-nodes.jsp"/>
            </sidebar>

        </tab>
    </adminconsole>

</plugin>
