<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jinglenodes.JingleNodesPlugin</class>
    <name>Jingle Nodes Plugin</name>
    <description>Provides support for Jingle Nodes</description>
    <author>Jingle Nodes (Rodrigo Martins)</author>
    <version>0.0.1</version>
    <date>16/7/2010</date>
    <minServerVersion>3.7.0</minServerVersion>
</plugin>
