<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.certificatemanager.CertificateManagerPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>11/24/2017</date>
    <minServerVersion>4.0.0</minServerVersion>
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-certificates">
                <item id="certificate-management"
                      name="${admin.sidebar.tls.item.certificate-management.name}"
                      description="${admin.sidebar.tls.item.certificate-management.description}"
                      url="certificate-management.jsp"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
