<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.certificatemanager.CertificateManagerPlugin</class>
    <name>Certificate Manager</name>
    <description>Adds certificate management features.</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>09/20/2018</date>
    <minServerVersion>4.3.0 alpha</minServerVersion>
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-certificates">
                <item id="certificate-management"
                      name="${admin.sidebar.tls.item.certificate-management.name}"
                      description="${admin.sidebar.tls.item.certificate-management.description}"
                      url="certificate-management.jsp"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
