<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <author>jitsi.org and igniterealtime.org</author>
    <class>org.jitsi.videobridge.openfire.PluginImpl</class>
    <description>Integrates Jitsi Video Bridge into Openfire.</description>
    <licenseType>LGPL</licenseType>
    <minServerVersion>3.9.2</minServerVersion>
    <name>Jitsi Video Bridge</name>
    <version>1.3.0</version>

   <adminconsole>
        <tab id="tab-server">
            <sidebar id="siderbar-jvb"
                     name="${plugin.title}">
                <item id="jitsi-videobridge-settings"
                      name="${plugin.title}"
                      description="${plugin.title.description}"
                      url="jitsi-videobridge.jsp"/>
            </sidebar>
        </tab>
    </adminconsole> 
</plugin>
