/* global font and body settings */
body {
	font-size : 100%;
	background-color : #d3d6d9;
	padding: 0px;
	color: #33333;
	margin: 0px 0px 30px 0px;
}
body, td, th {
	font-family : arial, helvetica, sans-serif;
	font-size : 10pt;
}
pre, tt, code {
	font-family : courier new, monospaced;
	font-size : 9pt;
}
#pageContainer {
	display: block;
	position: relative;
	clear: all;
	background-color: #fff;
	border: 1px solid #999;
	padding: 40px;
	margin: 30px;
	-moz-border-radius: 6px;
}
#pageHeader {
	display: block;
	position: relative;
	height: 80px;
	background-color: #e7eaee;
	border: 1px solid #cccccc;
	border-bottom: none;
	-moz-border-radius: 5px 5px 0px 0px;
	margin: 10px 0px 0px 0px;
}
#pageBody {
	margin: 0px 18px 0px 20px;
}



/* anchors */
a:link {
	color: #11568c;
}
a:visited {
	color: #571c8d;
}
a:hover {
	color: #7a1d42;
	text-decoration : underline;
}
a:active {
	color: #7a1d42;
}



/* page header elements (logo and navigation) */
#logo {
	display: block;
	position: relative;
	background: url(images/header_logo.gif) no-repeat;
	width: 135px;
	height: 40px;
	margin: 21px 20px 0px 0px;
	overflow: hidden;
	float: right;
}
.navigation {
	display: block;
	position: relative;
	height: 20px;
	background-color: #335588;
	border: 1px solid #cccccc;
	border-top: none;
	color: #ffffff;
	font-size: 11px;
	line-height: 18px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 25px 0px;
	overflow: hidden;
}
.navigation a {
	margin: 0px 0px 0px 20px;
}
.navigation a:link { color: #ffffff; }
.navigation a:visited { color: #ffffff; }
.navigation a:hover { color: #ffffff; }
.navigation a:active { color: #ffffff; }



/* headings */
h1 {
	display: block;
	position: relative;
	font-size : 1.7em;
	font-weight : bold;
	color: #670e15;
	padding: 0px;
	margin: 30px 0px 0px 20px;
}
h2 {
	font-size : 1.3em;
	font-weight : bold;
	margin: 40px 0px 6px 0px;
	padding: 0px;
	color: #335588;
}
h3 {
	font-size : 1.0em;
	font-weight : bold;
	margin: 25px 0px 3px 0px;
	padding: 0px;
	color: #334466;
}



/* general elements */
p {
	margin: 0px 0px 15px 0px;
}

ul {
	margin: 5px 0px 15px 35px;
}
li {
	padding-bottom : 4px;
}
tt {
	font-family : courier new;
	font-weight : bold;
	color : #060;
}
hr {
	display: block;
	height: 1px;
	background-color: #999999;
	border: none;
	margin: 40px 0px 20px 0px;
}


fieldset pre {
	padding : 1em;
	margin : 0px;
}
fieldset {
	margin-left : 2em;
	margin-right : 2em;
	border : 1px #ccc solid;
	-moz-border-radius : 5px;
}



/* classes */
.comment {
	color : #666;
	font-style : italic;
}
.subheader {
	font-weight : bold;
}
.footer {
	font-size : 0.8em;
	color : #999;
	text-align : center;
	width : 100%;
	border-top : 1px #ccc solid;
	padding-top : 2px;
}
.code {
	display: block;
	width: auto;
	border : 1px #ccc solid;
	padding : 6px;
	margin : 10px 20px 10px 20px;
}
.note {
	font-family : verdana;
	font-size : 0.85em;
	color : #600;
	text-decoration : none;
	font-weight : bold;
}
.nav, .nav a {
	font-family : verdana;
	font-size : 0.85em;
	color : #600;
	text-decoration : none;
	font-weight : bold;
}
.nav {
	width : 100%;
	border-bottom : 1px #ccc solid;
	padding : 3px 3px 5px 1px;
}
.nav a:hover {
	text-decoration : underline;
}
.question {
	font-weight: 600;
}
.answer {
	font-weight: 300;
}
.toc {
	right: 5px;
}


table.dbtable {
	border : 1px #ccc solid;
	width : 600px;
}
tr, th {
	border-bottom : 1px #ccc solid;
}
th, td {
	padding-right : 15px;
}
th {
	text-align : left;
	white-space : nowrap;
	background-color : #eee;
}

.primary-key {
	background-color : #ffc;
}


/* Protocol support specific styles */
.supported { background-color: #D0FFCB }
.partially_supported { background-color: #FEFF94 } 
.unsupported { background-color: #FFB4B4 }

