<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.messenger.plugin.RegistrationPlugin</class>
    <name>Registration Plugin</name>
    <description>Adds the ability to allow an specified user to be notified whenever a new user attempts to register with the server.</description>
    <author>Ryan Graham</author>
    <version>1.0</version>
    <minServerVersion>2.1.3</minServerVersion>
	
	<adminconsole>		
		<tab id="tab-users">
			<sidebar id="sidebar-users">
				<item id="registration-props-form" name="Registration Properties"
						url="registration-props-form.jsp"
						description="User Registration" />
			</sidebar>
        </tab>
    </adminconsole>
</plugin>