<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.messenger.plugin.SearchPlugin</class>
    <name>Search Plugin</name>
    <description>Provides support for Jabber Search (JEP-0055)</description>
    <author>Ryan Graham</author>
    <version>1.0.4</version>
    <minServerVersion>2.1.2</minServerVersion>
</plugin>