<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.SearchPlugin</class>
    <name>Search</name>
    <description>Provides support for Jabber Search (XEP-0055)</description>
    <author>Ryan Graham</author>
    <version>1.5.1</version>
    <date>1/2/2010</date>
    <minServerVersion>3.6.5</minServerVersion>
    
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="search-props-edit-form" name="${search.props.edit.form.title}"
                    url="search-props-edit-form.jsp"
                    description="${search.props.edit.form.description}" />
            </sidebar>
        </tab>
        <tab id="tab-users">
            <sidebar id="sidebar-users">
                <item id="advance-user-search" name="${advance.user.search.title}"
                    url="advance-user-search.jsp"
                    description="${advance.user.search.description}" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
