<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.messenger.plugin.ForumsPlugin</class>
    <name>Forums</name>
    <description>Provides user and group support for Jive Forums</description>
    <author>Patrick Lightbody</author>
    <version>1.0</version>
    <minServerVersion>2.1.3</minServerVersion>

    <adminconsole>
        <tab id="tab-users">
            <sidebar id="sidebar-users">
                <item id="jive-forums-settings" name="Jive Forums"
                        url="jive-forums-settings.jsp"
                        description="Jive Forums Settings" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>