<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <!-- Main plugin class -->
    <class>net.sf.kraken.KrakenPlugin</class>

    <!-- Plugin meta-data -->
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Daniel Henninger</author>
    <version>${project.version}</version>
    <date>03/23/2018</date>
    <minServerVersion>4.2.0</minServerVersion>
    <databaseKey>gateway</databaseKey>
    <databaseVersion>12</databaseVersion>
    <licenseType>apache2</licenseType>

    <!-- Admin console meta-data -->
    <adminconsole>
        <tab id="tab-server">

            <sidebar id="gateways" name="${gateway.gateways}" description="${gateway.gateways.desc}">
                <item id="kraken-settings"
                      name="${gateway.settings}"
                      url="kraken-settings.jsp"
                      description="${gateway.settings.desc}"/>
                <item id="kraken-transports"
                      name="${gateway.transports}"
                      url="kraken-transports.jsp"
                      description="${gateway.transports.desc}"/>
                <item id="kraken-registrations"
                      name="${gateway.registrations}"
                      url="kraken-registrations.jsp"
                      description="${gateway.registrations.desc}"/>
            </sidebar>

        </tab>
    </adminconsole>
</plugin>
