<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>com.fotsum.CallbackOnOffline</class>

    <name>CallbackOnOffline</name>
    <description>Url is called when recipient is offline</description>
    <author>Pavel Goski / Krzysztof Misztal</author>
    <version>1.2.1-SNAPSHOT</version>
    <date>tbc.</date>
    <minServerVersion>4.0.0</minServerVersion>

</plugin>
