<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>com.fotsum.CallbackOnOffline</class>

    <name>CallbackOnOffline</name>
    <description>Url is called when recipient is offline</description>
    <author>Pavel Goski / Krzysztof Misztal</author>
    <version>1.2.0</version>
    <date>12/15/2017</date>
    <minServerVersion>2.3.0</minServerVersion>

</plugin>
