<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.UserServicePlugin</class>
    <name>User Service</name>
    <description>(Deprecated) Please use the REST API Plugin. Allows administration of users via HTTP requests.</description>
    <author>Roman Soldatow, Justin Hunt</author>
    <version>2.1.0</version>
    <date>10/12/2015</date>
    <minServerVersion>4.0.0</minServerVersion>
    
    <adminconsole>		
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="user-service" name="User Service" url="user-service.jsp"
                     description="Click to manage the service that allows remote admin of users" />
            </sidebar>
        </tab>
    </adminconsole>

</plugin>
