<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.UserServicePlugin</class>
    <name>User Service</name>
    <description>Allows administration of users via HTTP requests.</description>
    <author>Justin Hunt</author>
    <version>1.3.2</version>
    <date>08/19/2009</date>
    <minServerVersion>3.5.1</minServerVersion>
    
    <adminconsole>		
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="user-service" name="User Service" url="user-service.jsp"
                     description="Click to manage the service that allows remote admin of users" />
            </sidebar>
        </tab>
    </adminconsole>

</plugin>
