<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.HazelcastPlugin</class>
    <name>Hazelcast plugin</name>
    <description>Adds clustering support</description>
    <author>Tom Evans</author>
    <version>2.3.0</version>
    <date>03/15/2018</date>
    <minServerVersion>4.0.0</minServerVersion>
</plugin>
