<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.jivesoftware.openfire.HazelcastPlugin</class>
    <name>${plugin.name}</name>
    <description>${plugin.description}</description>
    <author>Tom Evans</author>
    <version>1.0.5</version>
    <date>03/26/2013</date>
    <minServerVersion>3.8.2</minServerVersion>
</plugin>
